*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-decoration: none;
}
.navbar-brand:hover{
    font-weight:bold;
    padding: 5px;
  
}
.navbar-nav .nav-item:hover{
    font-weight: bold;
    background-color: rgba(45, 114, 18, 0.925);
    border-radius: 5px;
    padding: 0px 5px;
    transition: 0.4s;
}
.banner-container{
    background-image: url(../img/imageOpnWlppr.png);
    height:450px;
    width:100%;
    background-attachment:fixed;
    background-size: cover;
    box-shadow: inset 30px 50px 8000px rgba(0, 0, 0, 0.849);
}
h1{
   color: rgb(255, 255, 255);
   padding: 160px 40px;
  
}
h3{ 
    align-self: center;
    padding: 10px;
    color: rgb(255, 255, 255);
}
@media(max-width:768){

}
.body-theme{
   display: flex;
    width: 100%;
    background-color: rgba(206, 253, 220, 0.849);
    padding: 20px 5px;
}
@media (max-width:767px){
    .body-theme{
        display: block;
        height: auto;
    }
}
.body-theme-one{
    text-align: center;
    align-self: center;
    color: rgb(37, 30, 30);
    padding: 5px;
   
}
@media (max-width: 768px) {
 
       
         
}
.carousel{
    border-radius: 5px;
    border: 2px solid black;
}
.testimonials{
    background-color: rgba(155, 59, 35, 0.938);
    text-align: center;
  
}
.testimonial-block{
    padding: 0px 120px 24px;
    background-color: #88b351f3;
    box-shadow: rgba(75, 25, 25, 0.589);
}
.testimonial-block2{
    padding: 0px 120px 24px;
    background-color: #395ea3f3;
    box-shadow: rgba(75, 25, 25, 0.589);
}
@media (max-width: 768px){
    .testimonial-block{
        padding: 10px 10px 40px 20px;
    }
    .testimonial-block2{
        padding: 10px 10px 40px 20px;
    }
}
.testimonial-image-container{
    text-align: center;
}
.testimonial-img{
    width: 150px;
    border-radius: 50%;
    position: relative;
    top: -60px;
}
.testimonial-img2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: -50px;
}

.testimonial-text{
    color: aliceblue;
    position: relative;
    text-align: center;
    box-shadow: 10px;
}
.testimonial-text i{
    font-size: 40px;
    position: absolute;
    top: -50px;
    left: -10px;
}
.testimonial-text p{
    text-indent: 20px;
}
.testimonial-name{
    color: beige;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    
}
.card-container{
    display: flex;
    width: 100%;
     flex-wrap: wrap;
    justify-content: space-around;
 
}
.card{
    margin: 10px;
    box-shadow: 2px 2px 2px 2px rgba(116, 113, 108, 0.671);
}
@media (max-width:767px){
   
}
.card :hover{
    
     box-shadow: 3px  3px 3px 3px rgba(85, 80, 79, 0.507);
     transition: 0.5s;
}
.footer{
    background-color: rgba(20, 20, 20, 0.897);
    color: rgb(116, 113, 108);
    position: relative;
    bottom:0px;
    right: 0px;


}
.footer-container{
    padding: 24px;
}
.footer-cities{
    display: flex;
    
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.footer-city{
    justify-content: space-between;
    text-align: center;
    font-size: 13px;
}
.footer-copyright{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 2px;
}
.footer-city a{
    color: rgb(223, 219, 219);
    text-decoration: none;
}
.responsive_div{
    display: flex;
    width: 100%;

}
@media(max-width:767px){
    .responsive_div{
        display: block;
        align-content: center;
        height: auto;
    }

}
.col-md-6{
    padding: 2px;
}
.col-md-3{
    padding: 2px;
}
.footer_vl{
    height: 18px;
    width: 2px;
    background-color: white;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
